.logInPage {
    width: 100%;
    height: 100%;
    background: #505050;
    text-align: center;
}

.control {
    margin: 20px;
}

.layerIcon {
    border: 2px solid rgba(0,0,0,0);
}

.container_row{
    display: grid;
    text-align: center;
}

.layerIcon, .layerIconBackground{
    grid-column: 1;
    grid-row: 1;
}

.layerIconBackground{
    background: white;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #808080;
}

.head {
    text-align: right;
}