.widgetHead {
    text-align: left;
    height: 65px;
    width: 100%;
    background-color: var(--widgetHeadBackgroundColor);
    color: var(--widgetHeadFontColor);
    line-height: 65px;
    font-size: 1.5em;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.widgetHeadText {
    margin-left: 20px;
}

[data-theme='dark'] {
    --widgetHeadBackgroundColor: #202020;
    --widgetFontColor: #505050;
    --widgetHeadFontColor: white
}

[data-theme='light'] {
    --widgetHeadBackgroundColor: white;
    --widgetFontColor: white;
    --widgetHeadFontColor: black;
}