.widget {
    height: 500px;
    text-align: center;
    background-color: var(--widgetBackgroundColor);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}

.widgetHead {
    text-align: left;
    background-color: var(--headColor);
    color: var(--fontColor);
    width: 100%;
    height: 65px;
    line-height: 65px;
}

.legend {
    color: var(--fontColor);
}

.tooltip {
    padding: 1px 10px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
}

[data-theme='dark'] {
    --fontColor: white;
    --widgetBackgroundColor: rgba(80, 80, 80, 0.5);
}

[data-theme='light'] {
    --fontColor: black;
    --widgetBackgroundColor: rgba(255, 255, 255, 0.3);
}