.optionBar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.widgetSales {
    text-align: center;
    background-color: var(--widgetBackgroundColor);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding-bottom: 20px;
    display:block
}

.liSales {
    display: inline;
    text-align: center;
}

.ulSales {
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.aSales {
    display: inline-block;
    width: 50%;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    color: black;
    color: var(--fontColor);
    font-size: 1em;
}

a:hover {
    cursor: pointer;
}

.salesUnderline {
    height: .2rem;
    width: 50%;
    margin: 0;
    background: var(--fontColor);
    border: none;
    transition: .3s ease-in-out;
}

.headRating {
    min-width: 110px;
    text-align: center;
}

.headDate {
    text-align: right;
}

.rowSales {
    text-align: left;
    border-bottom: 1px;
    border-bottom-color: #808080;
    border-bottom-style: solid;
    padding: 5px;
    color: var(--tableFontColor);
    word-break: normal;
    font-size: 0.8em;
}

.rowSalesMiddle {
    text-align: center;
    border-bottom: 1px;
    border-bottom-color: #808080;
    border-bottom-style: solid;
    padding: 5px;
    color: var(--tableFontColor);
    word-break: normal;
    font-size: 0.8em;
}

.rowSalesRight {
    text-align: right;
    border-bottom: 1px;
    border-bottom-color: #808080;
    border-bottom-style: solid;
    padding: 5px;
    color: var(--tableFontColor);
    word-break: normal;
    font-size: 0.8em;
}

.headRight {
    font-size: 1.25em;
    background-color: #5675E4;
    color: white;
    text-align: right;
}

.headSalesName {
    text-align: left;
    font-size: 1.25em;
    background-color: #5675E4;
    color: white;
}

.salesTableDiv {
    padding-left: 20px;
    padding-right: 20px;
}

.headSales {
    font-size: 1.25em;
    background-color: #5675E4;
    color: white;
    width: 110px;
    text-align: center;
}

.tgSales {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    vertical-align: top;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .rowSales {
        font-size: 1em;
    }

    .rowSalesMiddle {
        font-size: 1em;
    }

    .rowSalesRight {
        font-size: 1em;
    }

    .aSales {
        font-size: 1.5em;
    }

    .widgetSales {
        width: 500px;
    }
}

[data-theme='dark'] {
    --fontColor: white;
    --widgetBackgroundColor: rgba(80, 80, 80, 0.5);
    --tableFontColor: white;
}

[data-theme='light'] {
    --fontColor: black;
    --widgetBackgroundColor: rgba(255, 255, 255, 0.3);
    --tableFontColor: black;
}
